# //--- build ---\\ #
build/
tools/send-payload
ps5-payload-sdk/
dist/
*.o
dRPC5.elf
dRPC5.d

# //--- editor junk ---\\ #
*.kate-swp

# //--- secrets / config ---\\ #
config.ini
token
dRPC5.elf.sha256
